.page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;

    margin: 5px;
    height: 100%;
}

.page>* {
    border: 1px solid black;

    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.menuToggle {
    position: absolute;
    left: 10px;
}

.header {
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 2;
}

.context {
    grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 3;
}

.main {
    grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start: 3;
    grid-row-end: 8;
}

.ads {
    grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start: 8;
    grid-row-end: 10;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 5;

}

@media(min-width: 600px) {
    .page {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;

        height: 100%;
        margin: 10px;
    }

    .page>* {
        border: 1px solid black;

        text-align: center;
    }

    .header {
        grid-column-start: 1;
        grid-column-end: 5;

        grid-row-start: 1;
        grid-row-end: 3;
    }

    .ads {
        grid-column-start: 4;
        grid-column-end: 5;

        grid-row-start: 3;
        grid-row-end: 9;
    }

    .nav {
        grid-column-start: 1;
        grid-column-end: 4;

        grid-row-start: 3;
        grid-row-end: 4;
    }
    .menuToggle{
        display: none;
    }

    .context {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 4;
        grid-row-end: 9;
    }

    .main {
        grid-column-start: 2;
        grid-column-end: 4;

        grid-row-start: 4;
        grid-row-end: 9;
    }

    .footer {
        grid-column-start: 1;
        grid-column-end: 5;
    }
}